* {
    margin: 0px;
    padding: 0px;
    border: 0px;

}

.herosection {
    height: 20rem;
    width: 100%;
    background-image: url("zomato_background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    height:3.5rem;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.navbar a {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}
a:hover {
    font-size: 1.2rem;
    color: red;
}

  h1 {
    background-color: blue;
    margin-top: 1rem;
    color: white;
    font-weight: 800;
}
.searchbar {
    height: 2rem;
    display: flex;
    margin-top: 2rem;
    font-size: xx-large;
    border-radius: 2rem;
}
.searchicon {
    height: 2rem;
    width: 2rem;
    background-color: orange;

}

.container {
    height: 20rem;
  width: 100%;
  display: flex;

}
.for_order {
    
    height: 20rem;
    width: 50%;
    padding: 1rem;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;

} 
.for_dining {
    height: 20rem;
    width: 50%;
    padding: 1rem;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box {
    height: 15rem;
}
@media (max-width:700px) {
     .container {
       height: 40rem;
        flex-wrap: wrap;
        justify-content: center;
      align-items: center;
     }
}
.box:hover {
    border: 2px solid brown;
}
.collection {
    height: 15rem;
    width: 100%;
    background-color: #F9F1F0;
    margin-top: 2rem;

}
.collection_image {
    height: 10rem;
    
}

.location {
    height: 4.5rem;
    width: 18rem;
    background-color: #F9F1F0;
    border: 1px solid black;
    margin-top: 2rem;
    
}
 
.popular_location  {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #D4F1F4;
    
}
.location:hover {
    font-size: 1.2rem;
    border: 2px solid blueviolet;

}

/* @media (max-width : 600px) {
    .popular_location {
         height: fit-content;
        flex-wrap: wrap;
    }
} */

.download_section {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background-color: #75E6DA;

}
.download_image {
    height: 5rem;
    width: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
button {
    background-color: red;
    border-radius: 0.5rem;
}
button:hover {
    color: white;
    background-color: black;
}

@media (max-width : 600px) {
    .download_image {
        display: none;
    }
    .download_section {
     display: flex;
     justify-content: center;
    }
}
.option {
    height: 1rem;
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
    border: 1px solid black;
}
.option:hover {
    border: 2px solid red;
    font-size: 1.2rem;
}

.footer1 {
    height: fit-content;
    background-color: #189AB4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    margin: 1rem 2rem 1rem 2rem;
}
ul a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: red;
    font-size: 1.2rem;
}
.footer2 {
    height: 2rem;
    background-color: #05445E;
    display: flex;
    justify-content: center;
}
.footer2 a {
    text-decoration: none;
    color: white;
}
.socialmedia:hover {
font-size:1.2rem;
